/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Beginning of the site's CSS syling */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff; 
  background-image: url('images/3D-printer-array-2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.center {
    width: 80%;
	padding: 0%;
    margin: 5px auto;
	text-align: center;
}

   
#logo {
    margin-bottom: 10px;
	margin-top: 60px;
	text-align: center;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 3em;
    margin: 0px auto 10px auto;
    color: #000000;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-size: 2.2em;
    line-height: 1.4;
	text-decoration:underline;
    color: #000000;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
    line-height: 1.4;
    color: #000000;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
	
}
	

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
	color: #000000;
	
}

body{
	font-family: 'Lato', sans-serif;
	color: #000000;
	background: #ffffffbc;
	background-size: contain;
	text-align: center;
	font-size:1em;
	height:max-content;
}
    
nav{
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: #bf00ff;
	color:#ffffff;
	top:0;
	position:fixed;
}

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding: 15px;
	color:#ffffff;
	font-size:1.3em;
	text-decoration: none;
}

a{
	color:#ffffff;
	font-size: 1.3em;
	background-color:#bf00ff;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 10px;
}

a:hover{
	background-color:#660088;
}

nav a:hover{
	background-color: #660088;
	color:#ffffff
}

@media only screen and (max-width: 480){
	h1{
		font-size: 1.5em;
	}
	body{
		font-size: 1em;
	}
}

/* Code for cards */

* {
    margin: 0;
    padding: 0;
  }
 
  .cardphoto img {
    display: block;
    max-width: 100%; /* makes image responsive if needed but makes sure it doesn't stretch */
  }
 
  /* make the Section class cards here.  */
 
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
 
  /* make the card flex. The default is row so change flex direction to vertical. */
  .card {
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 250px;
    max-width: 350px;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(139, 0, 178);
    box-shadow: 0 0 3px 5px rgba(117, 0, 153, 0.138);
    position: relative;
    top: 0;
  }
  .card:hover {
    transition: all 0.1s ease-in;
    top: -3px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
 
  .cardphoto {
    max-height: 250px;
    overflow: hidden;
  }
 
  .cardarticle {
    padding: 2.5rem;
    flex-grow: 1;
  }
 
  /* typography */
  .cardH1 {
    font-size: 2rem;
    margin: 0;
    color: rgb(0, 0, 0);
  }
 
  .card p {
    font-size: 1rem;
    line-height: 1.5;
  }

  h3{
      color:#000000;
  }
 
  .card p {
      color: rgb(0, 0, 0);
  }

